node-red-flow.json
[{"id":"862c4ff4.14b45","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2cd7d231.67016e","type":"inject","z":"862c4ff4.14b45","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"time","v":"$now()","vt":"jsonata"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":140,"wires":[["11280378.966f7d"]]},{"id":"11280378.966f7d","type":"random","z":"862c4ff4.14b45","name":"Total_Usage","low":"1","high":"100","inte":"true","property":"payload","x":370,"y":140,"wires":[["f61c8797.d073c8"]]},{"id":"f61c8797.d073c8","type":"function","z":"862c4ff4.14b45","name":"Total_use","func":"var total_usage = global.get(\"total_usage\");\nflow.set('random1',msg.payload);\ntotal_usage=total_usage+msg.payload;\nglobal.set(\"total_usage\",total_usage);\nmsg.payload= total_usage; //{\"value\":flow.get('random1',msg.payload)};\n//return msg;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nglobal.set(\"total_usage\",0);","finalize":"","x":560,"y":140,"wires":[["3aa6f5bb.e95efa"]]},{"id":"3aa6f5bb.e95efa","type":"random","z":"862c4ff4.14b45","name":"Flow_Rate","low":"1","high":"50","inte":"true","property":"payload","x":370,"y":200,"wires":[["2b795fd0.5b1e"]]},{"id":"2b795fd0.5b1e","type":"function","z":"862c4ff4.14b45","name":"","func":"var total_usage=global.get(\"total_usage\");\nflow.set('random2',msg.payload);\nmsg.device_id='device5';\nmsg.postal_code='711102';\nmsg.total_usage=total_usage;\nmsg.flow_rate=msg.payload;\nmsg.time;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["fd97f8f5.4d2238","32cfd7ec.488448"]]},{"id":"9bfdb400.79a838","type":"debug","z":"862c4ff4.14b45","name":"Result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"\"Successfully inserted\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":830,"y":420,"wires":[]},{"id":"32cfd7ec.488448","type":"cloudant out","z":"862c4ff4.14b45","name":"Insert to Cloudant","cloudant":"94bb968d.666e38","database":"user_usage","service":"_ext_","payonly":false,"operation":"insert","x":790,"y":220,"wires":[]},{"id":"a990ad43.103af","type":"e-mail","z":"862c4ff4.14b45","server":"md-in-91.webhostbox.net","port":"465","secure":true,"tls":false,"name":"fsk.imad@gmail.com","dname":"Mail","x":830,"y":360,"wires":[]},{"id":"fd97f8f5.4d2238","type":"function","z":"862c4ff4.14b45","name":"Query for cloudant","func":"msg.payload={device_id:msg.device_id, sort:\"time\", limit:5};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":280,"wires":[["2ff96cb6.4b0a34"]]},{"id":"2ff96cb6.4b0a34","type":"cloudant in","z":"862c4ff4.14b45","name":"Data Fetchung from cloudant","cloudant":"94bb968d.666e38","database":"user_usage","service":"_ext_","search":"_idx_","design":"user_usage","index":"user_usage_index","x":640,"y":280,"wires":[["104f894.6a7a377"]]},{"id":"104f894.6a7a377","type":"function","z":"862c4ff4.14b45","name":"Flow Rate checking to send mail","func":"msg.mail='false';\nif(msg.payload.length>=3){\n    fl1=msg.payload[0].flow_rate;\n    fl2=msg.payload[1].flow_rate;\n    fl3=msg.payload[2].flow_rate;\n    res=(msg.fl1+msg.fl2+msg.fl3)/3;\nif(res==fl1){\n  msg.mail='true';  \n} \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":380,"wires":[["2e1460eb.47208"]]},{"id":"2e1460eb.47208","type":"switch","z":"862c4ff4.14b45","name":"","property":"mail","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":380,"wires":[["a990ad43.103af"],["9bfdb400.79a838"]]},{"id":"94bb968d.666e38","type":"cloudant","z":"","host":"https://eb77e38a-dd5d-46c0-9359-e13fb22f08e3-bluemix.cloudantnosqldb.appdomain.cloud","name":"Imad Cloudant"}]